.container
  h1 Impressum
  .row
    .col-md-3
    .col-sm-12.col-md-6
      .row
        .col-xs-6.col-sm-6
          p.impressum-item Inhaber
        .col-xs-6.col-sm-6
          p.impressum-item Johannes Löwe
      .row
        .col-xs-6
          p.impressum-item Adresse
        .col-xs-6
          p.impressum-item Hirschrodaer Str. 3
          p.impressum-item 07774 Dornburg-Camburg
      .row
        .col-xs-6
          p.impressum-item Webseite
        .col-xs-6
          .impressum-item
            a.underline(href="https://loewe.pm") loewe.pm
      .row
        .col-xs-6
          p.impressum-item E-Mail
        .col-xs-6
          .impressum-item
            a.underline(href="mailto://johannes@loewe.pm") johannes@loewe.pm
    .col-md-3
            
      