section#entrance
  #entrance-slide
  #title-ctrls-container.slider-ctrls-container
    #start-slide-left-btn.slide-btn.slide-left-btn
    #title-container
      h1 Feuershow &amp; Feuertheater aus Jena
      p.
        Wir sind 7 Feuerkünstler aus Thüringen, die seit mehreren Jahren professionelle Feuershows in Jena, Thüringen und Umgebung aufführen. 
        Nicht nur Feuerjonglage, Akrobatik-Feuershows und Spezialeffekte gehören zu unserem Repertoire: Unsere Feuertheatertheaterstücke verbinden Feuershow und Schauspiel zu einem einzigartigen Erlebnis.
        #[br]#[br]
        Besuchen sie unsere #[a.intro-link(href="galerie.html") Galerie] oder sehen sie sich in unserem Angebot an #[a.intro-link(href="shows.html") Shows] um!
    #start-slide-right-btn.slide-btn.slide-right-btn
script(src="assets/js/StartSlider.js") 
script StartSlider.init();